.flex{
	display: flex;
	flex-wrap: wrap;

	max-width: 440px;
	margin: 0 auto;
}

.item{
	margin:5px;
	box-sizing:border-box;
    min-width:100px;
    min-height:100px;
    cursor: pointer;
	background:#898176;
}